<link type="text/css" rel="stylesheet" href="${staticResoucePath}/css/common.style.css" />
<link type="text/css" rel="stylesheet" href="${staticResoucePath}/css/jeasyui/easyui.css">
<link type="text/css" rel="stylesheet" href="${staticResoucePath}/css/jeasyui/icon.css">
