<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#if($page_title) $page_title #else 弹出页面标题 #end</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    #parse("/control/meta.vm")

</head>
<body>
	<div class="header"> this is header</div>
	<div class="layout">
		$screen_content
    </div>
    <div class="footer">this is footer</div>
</body>
</html>