<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	
	<context:annotation-config />
	<context:component-scan base-package="com.alan.sample.dao,com.alan.sampleB.dao" />
	
	<bean id="sqlExecutor" class="com.istock.base.ibatis.PaginationSqlExecutor">
		<property name="dialect">
			<bean class="com.istock.base.ibatis.MysqlDialect"></bean>
		</property>
	</bean>
	
	<bean name="sqlMapClientTemplate" class="com.istock.base.ibatis.IbatisTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	
	<bean name="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:ibatis/sample/sql-map-config.xml</value>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean name="sqlMapClientTemplateB" class="com.istock.base.ibatis.IbatisTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClientB" />
		</property>
	</bean>
	
	<bean name="sqlMapClientB" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:ibatis/sampleB/sql-map-config.xml</value>
		</property>
		<property name="dataSource">
			<ref bean="dataSourceB" />
		</property>
	</bean>
	
</beans>